{% extends 'base.html' %}

{% block title %}Edit Subject- Quiz Master{% endblock %}

{% block content %}
    <h2>Edit Subject</h2>
    <form method="POST">
        <label for="name">Subject Name:</label>
        <input type="text" name="name" value="{{ subject.name }}" required>
        <button type="submit">Update Subject</button>
    </form>
    <span style="margin-right: 20;">
        <a href="{{ url_for('manage_subjects') }}">Back to Subjects</a>
    </span>

    

    <a href="{{ url_for('admin_dashboard') }}">Back to Admin Dashboard</a>

{% endblock %}    